@import url('https://fonts.googleapis.com/css?family=Alata&display=swap');

body {
    background-color: #F9F9F4;
    color: #51291E;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.05em;
}

/*

BOXES

*/

#content {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #487A5F;
    text-transform: uppercase;
    text-align: center;
    padding: 1px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
}

section {
    margin: 0;
    display: inline;
}

.boxtop {
    background-color: #ADCCC6;
    color: #51291E;
    text-align: center;
    font-family: 'Alata', Futura, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2.75em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    
}

footer {
    background-color: #E5DFCC;
    font-size: 85%;
    color: #51291E;
    text-align: center;
    padding: 10px;
}

/*

HEADINGS

*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Alata', Futura, Helvetica, Arial, sans-serif;
}

h1 {
    color: #F9F9F4;
    font-size: 3.75em;
    margin-bottom: 0.1em;
}

h2 {
    color: #51291E;
    font-size: 1.75em;
    margin-bottom: -0.25em;
    margin-top: -0.025em;
    text-align: center;
}

/*

PARAGRAPH STYLES

*/

.captext {
    background-color: #ADCCC6;
    font-style: italic;
    font-size: 1.25em;
    text-align: center;
    margin-top: -0.025em;
    padding: 0.5em;
}

.captext a {
    color: #51291E;
    font-weight: normal;
}

.captext a:hover {
    color: #487A5F;
}

.description {
    font-size: 1.25em;
    margin-top: -0.5em;
    padding-left: 8px;
    padding-right: 8px;
    letter-spacing: .25pt;
}

/*

LINKS

*/

a {
    color: #487A5F;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

a:active,
a:hover {
    color: #51291E;
}

/*

THE REST

*/

img {
    width: 100%;
    margin: 0 auto;
}

ul {
    list-style-type: square;
}