@media screen and (min-width: 32.5em) {

    h2 {
        text-align: left;
        margin-top: 1em;
    }

    .boxtop {
        font-size: 1.6em;
    }

    main {
        grid-template-columns: 1fr 1fr;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }
}