@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,700&display=swap');

body {
    background-color: #fff;
    font-family: 'DM Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
}

header {
    width: 100%;
    background-color: #6b6be0;
    font-family: 'Shrikhand', 'Times New Roman', serif;
    color: #fff;
    font-size: 3em;
    text-align: center;
    padding: 0.25em;
}

header img {
    width: 70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #474554;
    color: #fff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.25em;
}

main, footer {
    max-width: 800px;
    margin: 0 auto;
}

main header {
    background-color: #da4046;
    font-size: 2em;
    padding: 8px;
}

main p {
    margin: 8px;
}

main a {
    color: #6b6be0;
}

main a:visited {
    color: #da4046;
}

footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    color: #474554;
    font-style: italic;
    text-align: center;
    padding-top: 8px;
}

.bottombar {
    background-color: yellow;
}

h1,
h2 {
    font-family: 'Shrikhand', 'Times New Roman', serif;
}

h1 {
    color: #da4046;
}

h2 {
    color: #6b6be0;
}

h3 {
    font-family: 'DM Sans', Helvetica, Arial, sans-serif;
    color: #da4046;
}

.hero {
    background-image: url("https://placekitten.com/1200/900");
    background-position: center;
    width: 100%;
    height: 300px;
}

.summary {
    background-color: #aca9bb;
    width: 9rem;
    height: 9rem;
}

.forecast {
    display: none;
}