@media screen and (min-width: 32.5em) {

    header {
        padding-top: 1em;
        font-size: 4em;
    }

    main header {
        padding: 8px;
        font-size: 2.5em;
    }
    
    header img {
        display: inline;
    }

    nav ul {
        display: flex;
        padding: 10px;
        font-size: 125%;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    footer {
        grid-template-columns: 1fr 1fr;
    }

    footer:nth-child(2) {
        grid-column: span 2;
    }
}